@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 0.5px;
  background-color: black; /* Adjust the color as needed */
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-item:hover::before,
.nav-item.active::before {
  width: 100%;
}
